<div class="exercise-container">
  <header>
    <a class="nav-btn help-btn" href >
      ?
    </a>
    <a class="nav-btn close-btn" href ng-click="exit()">
      <ng-md-icon icon="close" size="36" style="fill:white"/>
    </a>
    <h1>{{allTexts.countExericseTitleText}}</h1>
  </header>

  <section class="progess-container">
    <uib-progressbar class="progress-box progress-color-exe1" type="exe1" value="currentPage*onePercentage">
      <b>{{currentPage}}/{{totalItems}}</b>
    </uib-progressbar>

    <a class="nav-btn reload-btn" href ng-click="reload()">
      <ng-md-icon icon="refresh" size="36" style="fill:white"/>
    </a>
  </section>

  <section >
    <a class="nav-btn side-top-btn left-nav-btn" href ng-class="{disabled:noPrevious()}" ng-click="selectPage(currentPage-1,$event)">
      <ng-md-icon icon="navigate_before" size="48" style="fill:white"/>
    </a>

    <a class="nav-btn left-nav-btn side-bottom-btn hide" href ng-class="{show:isSummaryActive}" ng-click="currentPage = 1">
      <ng-md-icon icon="apps" size="48" style="fill:white"/>
    </a>

      <div class="subexe-container-box">
        <ul>
          <li ng-if="isCurrentExercise($index)" ng-repeat="subExercise in countExerciseData">
            <div ng-if="isSummaryActive && $index==0">

              <ul>
                <li ng-controller="exe1Summary as exe1Summary" ng-if="$index!==0" ng-repeat="summary in $parent.countExerciseData">
                  <a href ng-click="selectPage($index+1,$event)">
                    <div class="container-field-summary">
                      <div class="counted-object" ng-repeat="pos in exe1Summary.positionArray" ng-style="{{pos}}">
                        <img height="{{exe1Summary.elementSize}}" ng-src="{{exe1Summary.imgUrl}}"/>
                      </div>
                    </div>
                    <div class="user-result-summary-container">
                      <input class="form-control user-result-summary" disabled ng-class="summary.resultStyle" type="text" value="{{exe1Summary.userInput}}"/>
                    </div>
                  </a>
                </li>
              </ul>
            </div>

            <div ng-controller="exe1Ctrl as exe1Ctrl" ng-if="!isSummaryActive || $index !== 0">
              <div class="row" style="margin:auto;">
                <div class="container-field">

                  <div class="counted-object" ng-repeat="pos in exe1Ctrl.positionArray" ng-style="{{pos}}">
                    <img height="{{exe1Ctrl.elementSize}}" ng-src="{{exe1Ctrl.imgUrl}}"/>
                  </div>
                </div>
                <div class="user-result-container">
                  <input class="form-control user-result" maxlength="2" ng-change="exe1Ctrl.changeInput()" ng-class="getResultColor($index+1)" ng-disabled="isSummaryActive" ng-model="exe1Ctrl.userInput" placeholder="?" required="" type="text"/>
                  <a class="remove-btn" href ng-click="exe1Ctrl.backspace()">
                    <ng-md-icon icon="backspace" size="36" style="fill:white"/>
                  </a>
                </div>
              </div>
              <div class="clearfix number-row-container">
                <ul>
                  <li class="input-number-row-li" ng-repeat="key in [0,1,2,3,4,5,6,7,8,9]">
                    <input class="input-number-row" ng-click="exe1Ctrl.setUserInput($index)" ng-disabled="isSummaryActive" ng-style="exe1Ctrl.getNumberStyle($index)" type="button" value="{{key}}"/>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <a class="nav-btn side-top-btn right-nav-btn" href ng-class="{disabled:noNext()}" ng-click="selectPage(currentPage+1,$event)">
        <ng-md-icon icon="navigate_next" size="48" style="fill:white"/>
      </a>
      <a class="nav-btn right-nav-btn side-bottom-btn" href ng-class="{disabled:isSummaryActive}" ng-click="checkResult()">
        <ng-md-icon icon="done_all" size="48" style="fill:white"/>
      </a>
    </section>
  </div>
